<!-- Inicio Menu -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true">
    <mat-toolbar>XC - Caixa Eletronico</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/aplicacao/saldo" (click)="drawer.toggle();isChangePage()">Saldo</a>
      <a mat-list-item routerLink="/aplicacao/sacar" (click)="drawer.toggle();isChangePage()">Sacar</a>
      <a mat-list-item routerLink="/aplicacao/depositar" (click)="drawer.toggle();isChangePage()">Depositar</a>
      <a mat-list-item routerLink="/aplicacao/" type="button" (click)="drawer.toggle();isChangePage(true)">Voltar</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="secundary">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <p class="tituloPage">Operações</p>
      <mat-toolbar color="secundary">
        <button type="button" mat-icon-button (click)="logOut()">
          <mat-icon>exit_to_app </mat-icon>
        </button>
      </mat-toolbar>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Fim Menu -->

<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="row centralizar" *ngIf="!IsChangePage">
        <h1>BEM VINDO(A) {{contaUsuario.Nome_cliente}} AO XC CAIXA ELETRÔNICO. </h1>
        <h2>UTILIZE O MENU LATERAL PARA REALIZAR OPERAÇÕES. </h2>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
