<mat-card>
  <mat-card-subtitle>
    <p class="h4">SACAR</p> <br>
    <p class="h6">NOTAS DISPONÍVEIS: R$100, R$50, R$20, R$10.</p> <br>
    <p class="h6">VALOR MÁXIMO PARA SAQUE: R$2.000,00.</p> <br>
    <form [formGroup]="sacarForm">
      <div class="h5">
        <p>
          DIGITE O VALOR PARA SAQUE:
          <mat-form-field>
            <input matInput maxlength="11" currencyMask formControlName="inputValorSacar">
          </mat-form-field>
          <button mat-raised-button class="botaoSacar" (click)="Sacar()">SACAR</button>
        </p>
      </div>
    </form>
  </mat-card-subtitle>
</mat-card>
