<mat-card>
  <mat-card-subtitle>
    <p class="h4">DEPOSITAR</p> <br>
    <p class="h6">NOTAS ACEITAS: R$100, R$50, R$20, R$10.</p> <br>
    <p class="h6">VALOR MÁXIMO PARA DEPÓSITO: R$5.000,00.</p> <br>
    <form [formGroup]="depositarForm">
      <div class="h6">
        <p class="h6">UTILIZE AS OPÇÕES ABAIXO PARA SELECIONAR O VALOR PARA DEPÓSITO:</p> <br>
        <div class="camposDepositar">
          <div class="campoCem">
            R$100:
          </div>
          <div>
            <input type="number" matInput class="form-control inputDepositar" min="0" max="99" step="1" value="0"
              formControlName="inputValorCemReais" (change)="SetarValorDeposito()"
              (keypress)="QuantidadeNotas($event.target.value)">
          </div>
          <div class="camposValores">
            R$50:
          </div>
          <div>
            <input type="number" matInput class="form-control inputDepositar" min="0" max="99" step="1" value="0"
              formControlName="inputValorCinquentaReais" (change)="SetarValorDeposito()"
              (keypress)="QuantidadeNotas($event.target.value)">
          </div>
          <div class="camposValores">
            R$20:
          </div>
          <div>
            <input type="number" matInput class="form-control inputDepositar" min="0" max="99" step="1" value="0"
              formControlName="inputValorVinteReais" (change)="SetarValorDeposito()"
              (keypress)="QuantidadeNotas($event.target.value)">
          </div>
          <div class="camposValores">
            R$10:
          </div>
          <div>
            <input type="number" matInput class="form-control inputDepositar" min="0" max="99" step="1" value="0"
              formControlName="inputValorDezReais" (change)="SetarValorDeposito()"
              (keypress)="QuantidadeNotas($event.target.value)">
          </div>
        </div>
        <p class="valorDeposito">
          VALOR PARA DEPÓSITO:
          <mat-form-field>
            <input matInput maxlength="11" currencyMask formControlName="inputValorDepositar">
          </mat-form-field>
          <button mat-raised-button class="botaoDepositar"
            (click)="Depositar()">DEPOSITAR</button>
        </p>
      </div>
    </form>
  </mat-card-subtitle>
</mat-card>
